{% extends 'core/base.html.twig' %}

{% block body %}
    <div {{ stimulus_controller('main--frontpage--frontpage') }}>
        {% include 'main/frontpage/_header.html.twig' %}
        {% include'main/frontpage/_search_form.html.twig' %}
        <div>
            {% include '/custom/_frontpage_content.html.twig' ignore missing %}
        </div>
    </div>
{% endblock %}
