{% extends 'core/base.html.twig' %}

{% block body %}
    {{ include('main/frontpage/_header.html.twig') }}
    <div class="w-auto dark:bg-slate-900 border-t-2 dark:border-slate-700"></div>
{% endblock %}
