{% extends 'core/base.html.twig' %}

{% block body %}
    {% include 'main/frontpage/_search_form.html.twig' %}
    <div class="container mx-auto max-w-[1200px]">
        <h2 class="mt-12 text-center text-2xl font-bold">{{ 'ui.frontpage.search.result'|trans }}</h2>
        <div {{ stimulus_controller('main--frontpage--search-list') }}></div>
    </div>

{% endblock %}
