<footer
        class="flex flex-col mt-auto items-center bg-gray-700 dark:bg-neutral-900 text-center text-white">
    <div class="w-full dark:bg-slate-900 border-t-2 dark:border-slate-700"></div>
    <!-- Copyright section -->
    <div
            class="w-full p-4 text-center text-xs"
            style="background-color: rgba(0, 0, 0, 0.2)">
        Copyrights {{ app_name }} © 2023 {{ app_copyright }}
    </div>
</footer>
