<td class="body-action px-2 {{ class|default('') }}">
    <div class="flex justify-end gap-2" data-item-id="{{ item.id|default('') }}">
        {% block actions %}
        {% endblock %}
    </div>
</td>
