{% if pagination.getTotalItemCount %}
    <div class="pagination-container w-full shadow-xs">
        <div class="w-full overflow-x-auto">
            <table class="{{ width|default('') }} w-full text-gray-900 dark:text-neutral-50 border-b border-neutral-500">
                <thead>
                <tr class="text-xs font-semibold text-left uppercase border-b border-neutral-500 dark:text-gray-200 dark:bg-neutral-800">
                    {% block head %}
                    {% endblock %}
                </tr>
                </thead>
                <tbody class="divide-gray-700">
                {% for item in pagination %}
                    <tr class="{% if loop.index is odd %}bg-gray-50 dark:bg-neutral-800{% else %}bg-gray-200 dark:bg-neutral-700{% endif %} hover:bg-gray-300 hover:dark:bg-neutral-900">
                        {% block body %}
                        {% endblock %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'Core/Pagination/_foot.html.twig' with pagination %}
        </div>
    </div>
{% else %}
    <div class="mt-8">
        <div class="p-4 border rounded-md shadow-md bg-neutral-200 text-neutral-700 border-neutral-400 dark:bg-neutral-700 dark:text-gray-50 dark:border-neutral-800">
            <h4 class="text-lg font-semibold">{{ 'ui.pagination.empty'|trans }}</h4>
        </div>
    </div>
{% endif %}

