@tailwind base;
@tailwind components;
@tailwind utilities;

//sm	639px	@media (max-width: 639px) { ... }
//md	767px	@media (max-width: 767px) { ... }
//lg	1023px	@media (max-width: 1023px) { ... }
//xl	1279px	@media (max-width: 1279px) { ... }
//2xl	1535px	@media (max-width: 1535px) { ... }

$breakpointsMax: (
        sm: 639px,
        md: 767px,
        lg: 1023px,
        xl: 1279px,
        2xl: 1535px
);

//sm	640px	@media (min-width: 640px) { ... }
//md	768px	@media (min-width: 768px) { ... }
//lg	1024px	@media (min-width: 1024px) { ... }
//xl	1280px	@media (min-width: 1280px) { ... }
//2xl	1536px	@media (min-width: 1536px) { ... }

$breakpointsMin: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        2xl: 1536px
);

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: theme('colors.slate.100');
  color: theme('colors.slate.950');


  ::-webkit-scrollbar-track
  {
    border-radius: 10px;
    background-color: theme('colors.gray.700');
  }

  ::-webkit-scrollbar
  {
    border-radius: 10px;
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: theme('colors.gray.300');
  }

  &.dark {
    background-color: theme('colors.slate.800');
    color: theme('colors.slate.50');
  }
}

@import 'nav';
@import 'dashboard';
@import 'pagination';
@import 'buttons';
@import 'forms';
@import 'controller';
@import 'flash';
@import 'effects';
@import 'tooltip';
@import 'tippy.js/dist/tippy.css';
