// BUTTONS
$btn-radius: 0.25rem;

@mixin colors($name, $main, $secondary, $font) {
  &-#{$name} {
    background: linear-gradient(135deg, $main, $secondary);
    color: $font;

    &:hover {
      background: $font;
      color: $main;
    }
  }

  &-outline-#{$name} {
    border: 2px solid $main;
    color: $main;

    &:hover {
      background: $main;
      color: $font;
      border: 2px solid $main;
    }
  }
}

@mixin sizes($name, $padding, $size) {
  &-#{$name} {
    padding: $padding;
    font-size: $size;
  }
}

@mixin groups($name, $border-width, $border-radius) {
  &-#{$name} {
    border-radius: $border-radius;
    border-#{$name}-width: $border-width;
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  transition: 0.5s all;
  border: 1px solid transparent;
  box-shadow: 0 0 1px 0 #00000060;
  cursor: pointer;
  border-radius: $btn-radius;

  $colors: (
    ("white", theme('colors.slate.50'), theme('colors.slate.50'), theme('colors.neutral.900')),
    ("slate", theme('colors.slate.900'), theme('colors.slate.800'), theme('colors.slate.50')),
    ("neutral", theme('colors.neutral.800'), theme('colors.neutral.800'), theme('colors.neutral.50')),
    ("dark", theme('colors.neutral.700'), theme('colors.slate.700'), theme('colors.neutral.50')),
    ("sky", theme('colors.sky.800'), theme('colors.sky.700'), theme('colors.sky.50')),
    ("stone", theme('colors.stone.600'), theme('colors.stone.500'), theme('colors.stone.50')),
    ('gray', theme('colors.gray.700'), theme('colors.gray.800'), theme('colors.gray.50')),
    ('green', theme('colors.green.700'), theme('colors.green.800'), theme('colors.green.50')),
    ('info', theme('colors.sky.800'), theme('colors.sky.800'), theme('colors.sky.50')),
    ('success', theme('colors.success.700'), theme('colors.success.800'), theme('colors.success.50')),
    ('danger', theme('colors.danger.700'), theme('colors.danger.800'), theme('colors.danger.50')),
    ('warning', theme('colors.warning.700'), theme('colors.warning.800'), theme('colors.warning.50')),
  );

  $sizes: (
    ('sm', 0.3rem 0.75rem, 0.9em),
    ('md', 0.5rem 0.75rem, 1em),
    ('lg', 0.5rem 1rem, 1.25rem),
    ('xl', 0.5rem 1.25rem, 1.5rem),
  );

  $groups: (
    ('left', 0, $btn-radius 0 0 $btn-radius),
    ('right', 0, 0 $btn-radius $btn-radius 0),
  );

  @each $name, $main, $secondary, $font in $colors {
    @include colors($name, $main, $secondary, $font);
  }

  @each $name, $padding, $size in $sizes {
    @include sizes($name, $padding, $size);
  }

  @each $name, $border-width, $border-radius in $groups {
    @include groups($name, $border-width, $border-radius);
  }
}
