// login
.controller-login {
  background-size: cover!important;
  background-position: center!important;
  [type='checkbox']:checked, [type='radio']:checked {
    background-color: theme('colors.stone.500');
  }
}
