.dashboard {
  .sidebar {
    height: auto;
  }

  .content {
    max-width: 1600px;

    h1 {
      display: inline-block;
      font-size: 2rem;
      font-weight: bold;
    }

    h2 {
      font-size: 1.5rem;
      margin: 0 auto 2rem;
      padding: 0;
    }

    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      display: inline-block;
      padding: 0.25rem 0.5rem;
    }

    hr {
      margin: 0.5rem 0 0.5rem;
      border: 1px solid theme('colors.neutral.300');
    }
  }
}


@media (max-width: map-get($breakpointsMax, sm)) {
  .dashboard {
    .sidebar {

    }

    .content {

    }
  }
}

@media (max-width: map-get($breakpointsMax, md)) {
  .dashboard {
    .sidebar {
      li {
        span {
          &.label {
            display: none;
          }
        }
      }
    }

    .content {

    }
  }
}

@media (max-width: map-get($breakpointsMax, lg)) {
  .dashboard {
    .sidebar {
    }

    .content {

    }
  }
}

@media (max-width: map-get($breakpointsMax, xl)) {
  .dashboard {
    .sidebar {
      li {
        .header {
          min-width: 7rem;
        }

        span {
          &.label {
            font-size: 0.8rem;
          }
        }
      }
    }

    .content {

    }
  }
}


@media (max-width: map-get($breakpointsMax, 2xl)) {
  .dashboard {
    .sidebar {

    }

    .content {
    }
  }
}

