// FORM
.custom-tailwind-form {
  ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    display: none;
  }

  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'], [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
  }

  input {
    &[type="number"],
    &[type="text"],
    &[type="password"],
    &[type='date'] {
      color: #000000;
    }
  }

  [data-te-select-input-ref] {
    height: 2.5rem;
    background: theme('colors.slate.100');
    color: #000000;
  }

  svg {
    color: theme('colors.slate.900')!important;
  }
}

.dark {
  [data-te-select-input-ref] {
    color: #000000!important;
  }
}
