.pagination-container {

  table {
    thead {
      .head {

      }
    }

    tbody {
      .body-value {

      }

      .body-action {
        button {
          height: 2rem;
          width: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .foot {
    .pagination {

    }
  }

}
