[gemma-tooltip-span] {
    padding: 0.5rem 1rem;
    background: theme('colors.slate.900');
    position: absolute;
    border-radius: 0.5rem;
    color: #ffffff!important;
    box-shadow: 1px 1px 3px 0 #00000088;
    display: none;
}
