<div {{ attributes }}>
    {#    {% if type == 'success' %} #}
    {#    {% elseif type == 'failed' %} #}
    {#    {% elseif type == 'warning' %} #}
    {#    {% else %} #}
    {#    {% endif %} #}

    <div class="mt-2 flex min-w-[225px] max-w-md bg-white shadow-lg rounded-lg overflow-hidden">
        {% if type == 'success' %}
            <div class="w-2 bg-green-600"></div>
        {% elseif type == 'failed' %}
            <div class="w-2 bg-red-600"></div>
        {% elseif type == 'warning' %}
            <div class="w-2 bg-amber-400"></div>
        {% else %}
            <div class="w-2 bg-sky-600"></div>
        {% endif %}

        <div class="flex w-full items-center px-2 py-3">
            <div class="mx-3 w-full">
                <div class="flex justify-between">
                    <div class="flex">
                        {% if type == 'success' %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 mr-2 text-green-600"
                                 viewBox="0 0 24 24"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                      clip-rule="evenodd"/>
                            </svg>
                        {% elseif type == 'failed' %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 mr-2 text-red-600"
                                 viewBox="0 0 24 24"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
                                      clip-rule="evenodd"/>
                            </svg>
                        {% elseif type == 'warning' %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 mr-2 text-amber-400"
                                 viewBox="0 0 24 24"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                                      clip-rule="evenodd"/>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 mr-2 text-sky-600"
                                 viewBox="0 0 24 24"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
                                      clip-rule="evenodd"/>
                            </svg>
                        {% endif %}
                        <h2 class="text-xl font-semibold text-gray-800">{{ title }}</h2>
                    </div>
                    <button type="button"
                            class="ml-2 text-neutral-400 rounded-none border-none opacity-80 hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="h-6 w-6">
                            <path stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <p class="text-gray-600">{{ content }}</p>
                <hr class="my-1">
                <p class="text-xs text-neutral-400">{{ time }}</p>
            </div>
        </div>
    </div>
</div>
