{% extends 'Admin/Common/Dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.admin.grave.title.index'|trans }}{% endblock %}
{% block dashboard_content %}
    <!-- Dashboard Card -->
    {% embed 'Twig/Block/DashboardCard.html.twig' %}
        <!-- Dashboard Title -->
        {% block title %}
            <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.admin.grave.title.index'|trans }}</h1>
            <h2 class="text-gray-500 dark:text-gray-300">{{ 'ui.admin.grave.description.index.manage'|trans }}</h2>
        {% endblock %}
        <!-- /Dashboard Title -->
        <!-- Dashboard Content -->
        {% block dashboard_content %}
            <!-- Pagination -->
            {% embed 'Core/Components/Pagination/pagination.html.twig' %}
                {% block head %}
                    {% include 'Core/Components/Pagination/_head.html.twig' with {
                        label: 'ui.admin.grave.graveyard',
                        name: 'graveyard.name',
                    } %}
                    {% include 'Core/Components/Pagination/_head.html.twig' with {
                        label: 'ui.admin.grave.sector',
                        name: 'g.sector',
                        class: 'text-center'
                    } %}
                    {% include 'Core/Components/Pagination/_head.html.twig' with {
                        label: 'ui.admin.grave.row',
                        name: 'g.row',
                        class: 'text-center'
                    } %}
                    {% include 'Core/Components/Pagination/_head.html.twig' with {
                        label: 'ui.admin.grave.number',
                        name: 'g.number',
                        class: 'text-center'
                    } %}
                    {% include 'Core/Components/Pagination/_head.html.twig' with {
                        label: 'ui.common.updatedAt',
                        name: 'g.updatedAt',
                        class: 'text-center hidden md:block'
                    } %}
                    {% include 'Core/Components/Pagination/_head.html.twig' with {
                        label: 'ui.pagination.edit'|trans,
                    } %}
                {% endblock %}
                {% block body %}
                    {% include 'Core/Components/Pagination/_body.html.twig' with {
                        value: item.graveyard.name,
                    } %}
                    {% include 'Core/Components/Pagination/_body.html.twig' with {
                        value: item.sector,
                        class: 'text-center'
                    } %}
                    {% include 'Core/Components/Pagination/_body.html.twig' with {
                        value: item.row,
                        class: 'text-center'
                    } %}
                    {% include 'Core/Components/Pagination/_body.html.twig' with {
                        value: item.number,
                        class: 'text-center'
                    } %}
                    {% include 'Core/Components/Pagination/_body.html.twig' with {
                        value: item.updatedAt|date('Y-m-d'),
                        class: 'text-center hidden md:block'
                    } %}
                    {% embed 'Core/Components/Pagination/_actions.html.twig' %}
                        {% block action %}
                        {% endblock %}
                    {% endembed %}
                {% endblock%}
            {% endembed %}
            <!-- /Pagination -->
        {% endblock %}
        <!-- /Dashboard Content -->
        {% block buttons_after %}
        {% endblock %}
    {% endembed %}
    <!-- /Dashboard Card -->
{% endblock %}


