{% extends 'Admin/Common/Dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.admin.grave.title.index'|trans }}{% endblock %}
{% block dashboard_content %}
    {% embed 'Twig/Block/DashboardCard.html.twig' %}
        {% block title %}
            <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.admin.grave.title.index'|trans }}</h1>
            <h2 class="text-gray-500 dark:text-gray-300">{{ 'ui.admin.grave.description.index.manage'|trans }}</h2>
        {% endblock %}
        {% block dashboard_content %}
            {% include 'Core/Components/Pagination/pagination.html.twig' %}
        {% endblock %}
        {% block buttons_after %}
        {% endblock %}
    {% endembed %}
{% endblock %}


