{% block title %}
{% endblock %}

<div class="mt-3">
{% block buttons_before %}
{% endblock %}
</div>

<div class="mt-3">
{% block dashboard_content %}
{% endblock %}
</div>

<div class="mt-3 flex justify-end">
{% block buttons_after %}
{% endblock %}
</div>
