{% block title %}
{% endblock %}
<div class="mt-3 flex gap-2">
    {% block buttons_before %}
    {% endblock %}
</div>
<div class="my-3">
    {% block filters %}
    {% endblock %}
</div>
<div class="mt-3">
    {% block dashboard_content %}
    {% endblock %}
</div>
<div class="mt-3 flex gap-2">
    {% block buttons_after %}
    {% endblock %}
</div>
