<div class="sidebar flex flex-col top-0 pt-4 left-0 w-14 hover:w-64 md:w-64 h-full transition-all duration-300 border-none z-10
 text-white bg-gray-700 dark:bg-neutral-900">
    <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
        {% if is_granted('ROLE_ADMIN')  %}
            {% include 'admin/common/dashboard/sidebar/admin.html.twig' %}
        {% elseif is_granted('ROLE_USER')  %}
            {% include 'admin/common/dashboard/sidebar/user.html.twig' %}
        {% endif %}
    </div>
</div>
