{% extends 'Core/base.html.twig' %}

{% block title %}{{ app_name }} - {{ ui.main.dashboard.index }}{% endblock %}

{% block body %}
    <div class="dashboard flex flex-auto flex-shrink-0 antialiased bg-neutral-50 dark:bg-neutral-800 text-white">

        <!-- Sidebar -->
        {% include('Admin/Common/Dashboard/_sidebar.html.twig') %}
        <!-- ./Sidebar -->

        <div class="content h-full w-[1600px] ml-4 mt-6 mb-10 px-4 relative">
            {% block dashboard_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
