{% extends 'admin/common/dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.graveyard.title.index'|trans }}{% endblock %}
{% block dashboard_content %}
    <!-- Dashboard Card -->
    {% embed 'admin/common/dashboard/_dashboard_card.html.twig' %}
        {% block title %}
            <!-- Dashboard Title -->
            <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.graveyard.title.index'|trans }}</h1>
            <h2 class="text-gray-500 dark:text-gray-300">{{ 'ui.graveyard.description.manage'|trans }}</h2>
            <!-- /Dashboard Title -->
        {% endblock %}
        {% block dashboard_content %}
            <!-- Dashboard Content -->
            <!-- Pagination -->
            {% embed 'core/pagination/pagination.html.twig' %}
                {% block head %}
                    {% include 'core/pagination/_head.html.twig' with {
                        label: 'ui.graveyard.name',
                        name: 'g.name',
                    } %}
                    {% include 'core/pagination/_head.html.twig' with {
                        label: 'ui.common.updatedAt',
                        name: 'g.updatedAt',
                        class: 'text-center hidden md:block'
                    } %}
                    {% include 'core/pagination/_head.html.twig' %}
                {% endblock %}
                {% block body %}
                    {% include 'core/pagination/_body_value.html.twig' with {
                        value: item.name,
                    } %}
                    {% include 'core/pagination/_body_value.html.twig' with {
                        value: item.updatedAt|date('Y-m-d'),
                        class: 'text-center hidden md:block'
                    } %}
                    {% embed 'core/pagination/_body_action.html.twig' %}
                        {% block actions %}
                        {% endblock %}
                    {% endembed %}
                {% endblock%}
            {% endembed %}
            <!-- /Pagination -->
            <!-- /Dashboard Content -->
        {% endblock %}
        {% block buttons_after %}
        {% endblock %}
    {% endembed %}
    <!-- /Dashboard Card -->
{% endblock %}


